
### Intellij ###
.idea/
*.iml
*.ipr

### Maven ###
.maven/
target/

### Java ###
build/

### General ###
.DS_Store
.AppleDouble
.LSOverride
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db